<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <h1>Formulario para añadir productos</h1>
        <form action="/productos" method="POST">
            <div>
                <label>Nombre del producto</label>
                <input name="title" type="text" placeholder="Ingrese el nombre del producto">
            </div>
            <div>
                <label>Precio del producto</label>
                <input name="price" type="number" placeholder="Ingrese el Precio del producto">
            </div>
            <div>
                <label>Url foto del producto</label>
                <input name="foto" type="text" placeholder="Ingrese URL de la foto">
            </div>

            <hr />
            <div>
                <button type="submit"><%= addProd %></button>
                <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/productos'">Ir a
                    lista de
                    productos</button>
            </div>
    </div>
    </form>
</body>

</html>