
          <h5>Mensajes</h5>
          
        <div id="mensajes-chat"></div>
            <form onsubmit="return chatFunc(this)">
              <input type="email" placeholder="Ingrese su Email" id="email" />
              <input type="text" placeholder="Ingrese su mensaje" id="chatMsg" />
              <button type="submit" id="button-addon2">
                Enviar
              </button>
            </form>
         